.header {
	.center_about {
		position: relative;
		z-index: 100;
		.breadcrumbs_box {
			display: flex;
			justify-content: space-between;
			border-top: 3px solid #F98C37;
			margin-top: 26px;
			padding-top: 15px;
			padding-bottom: 30px;
			.kama_breadcrumbs {
				font-weight: normal;
				font-size: 14px;
				line-height: 140%;
				span a {
					border-bottom: 1px solid transparent;
					transition: all 200ms ease-in-out;
					&:hover {
						border-bottom: 1px solid #202020;
						transition: all 200ms ease-in-out;
						text-shadow: 0 0 .3px #202020, 0 0 .3px #202020;
					}
				}
				.kb_sep {
					.fa-chevron-right {
						font-size: 7px;
						padding: 0 7px 2px 7px;
					}
				}
			}
			.back {
				font-weight: normal;
				font-size: 14px;
				line-height: 140%;
			}
		}
	}
}

.works_slider_navigation {
			display: flex;
			align-items: center;
			.left {
				margin-right: 25px;
				.fa-chevron-left {
					color: #F98C37;
					font-size: 15px;
					cursor: pointer;
					transition: all 200ms ease-in-out;
					&:hover {
						color: #202020;
						transition: all 200ms ease-in-out;
					}
				}
			}
			.right {
				margin-left: 25px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					display: inline-block;
					top: -10px;
					left: -26px;
					width: 2px;
					height: 34px;
					background: #202020;
					z-index: 10;
				}
				.fa-chevron-right {
					color: #F98C37;
					font-size: 15px;
					cursor: pointer;
					transition: all 200ms ease-in-out;
					&:hover {
						color: #202020;
						transition: all 200ms ease-in-out;
					}
				}
			}
		}