.popup, .popup-ok {
 	display:none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.7);
	.popup-content {
		position: fixed;
		left: 50%;
		top:50%;
		transform: translateX(-50%) translateY(-50%);
		background: #FFFFFF;
		box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		width: 410px;
		@media (max-width: 576px) {
			width: 390px;
		}
		@media (max-width: 400px) {
			width: 315px;
		}
		.popup-close, .popup-close-ok {
			position: absolute;
			z-index: 600;
			top: -25px;
			right: 0px;
			background: #FFFFFF;
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
			border-radius: 100%;
			width: 50px;
			height: 50px;
			cursor: pointer;
			&:hover {
				span {
					background: #202020;
					transition: all 0.2s ease;
				}
			}
			span {
				display: block;
				width: 25px;
				height: 3px;
				background: #F98C37;
				transition: all 0.2s ease;
			}
			.top_line {
            transform: rotate(45deg) translate(25px, 7px); 
			}
 			.bottom_line {
            transform: rotate(-45deg) translate(-5px, 23px); 
			}
		}
		.title_box {
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			.title_section {
				font-weight: bold;
				font-size: 29px;
				line-height: 140%;
				text-align: center;
				padding-top: 60px;
				padding-bottom: 10px;
				position: relative;
				z-index: 100;
				display: block;
				width: 100%;
			}
			.sub_title_section {
				font-weight: normal;
				font-size: 18px;
				line-height: 140%;
				text-align: center;
				display: block;
				width: 100%;
				padding-bottom: 30px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 82px;
				left: 43px;
				width: 120px;
				height: 18px;
				background: #F9BB88;
				z-index: 10;
			}
		}
		.form_block_popup {
			.img-ok {
				 display: block;
			    margin: 0 auto;
			    padding-bottom: 100px;
			    padding-top: 20px;
			}
			.input_box {
				display: flex;
				flex-direction: column;
				padding-bottom: 40px;
				justify-content: center;
				align-items: center;
				.input_block {
					display: flex;
					flex-direction: column;
					justify-content: center;
					&:not(:last-child) {
					   padding-bottom: 25px;
					}
					label {
						font-weight: normal;
						font-size: 14px;
						line-height: 140%;
						cursor: pointer;
						padding-left: 10px;
					}
					input[type="text"], input[type="tel"], input[type="email"] {
						background: transparent;
						border: none;
						border-bottom: 2px solid rgba(32, 32, 32, 0.4);
						width: 322px;
						padding: 0 10px 2px 10px;
						box-sizing: border-box;
						outline: none;
						font-weight: normal;
						font-size: 14px;
						line-height: 140%;
						color: #202020;
						@media (max-width: 400px) {
							width: 300px;
						}
					}
				}
			}
			.submit_box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.submit {
					background: #F98C37;
					border: none;
					border-radius: 2px;
					font-weight: 500;
					font-size: 14px;
					line-height: 140%;
					text-align: center;
					color: #F4F4F4;
					outline: none;
					cursor: pointer;
					padding: 15px 54px;
				}
				.ok_clik {
					font-weight: normal;
					font-size: 13px;
					line-height: 16px;
					color: rgba(32, 32, 32, 0.4);
					text-align: center;
					padding-top: 10px;
					padding-bottom: 53px;
					a {
						font-weight: normal;
						font-size: 13px;
						line-height: 16px;
						color: rgba(32, 32, 32, 0.4);
						text-decoration: underline;
						transition: all 200ms ease-in-out;
						&:hover {
							color: #202020;
							transition: all 200ms ease-in-out;
						}
					}
				}
			}
		}
	}	
}


.popup-ok .title_box {
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&:before {
				content: '';
				position: absolute;
				top: 90px !important;
				left: 100px !important;
				width: 120px;
				height: 18px;
				background: #F9BB88;
				z-index: 10;
			}
		}

.popup_quiz, .popup_quiz2, .popup_quiz3, .popup_quiz4 {
 	display:none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.7);
	.wrappers {
		position: fixed;
		left: 50%;
		top:50%;
		transform: translateX(-50%) translateY(-50%);
		max-width: 960px;
		width: 100%;
		@media (max-width: 992px) {
			max-width: 768px;
		}
		@media (max-width: 768px) {
			max-width: 567px;
		}
		@media (max-width: 576px) {
			max-width: 386px;
		}
		@media (max-width: 400px) {
			max-width: 315px;
		}
		.popup-content_quiz {
			box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
			background: #fff;
			.title_box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.title_quiz {
					font-weight: 600;
					font-size: 23px;
					line-height: 160%;
					padding-bottom: 20px;
					padding-top: 50px;
				}
				.line_background {
					width: 66%;
					position: relative;
					height: 18px;
					background: #fff;
					border: 3px solid #fff;
					padding-bottom: 40px;
					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: -5px;
						left: -5px;
						width: calc(100%+5px);
						height: 24px;
						border: 2px solid #F9BB88;
					}
					.line {
						width: 33.33333%;
						height: 18px;
						background: #F98C37;
						display: block;
					}
				}
				.sub_title_quiz {
					font-weight: normal;
					font-size: 29px;
					line-height: 140%;
					padding-bottom: 30px;
					@media (max-width: 576px) {
						font-size: 20px;
					}
				}
			}
			.slider_box_popup_quiz {
				position: relative;
				max-width: 934px;
				width: 100%;
				margin: 0 auto;
				padding-bottom: 60px;
				.block_quiz_nav {
					position: absolute;
					top: -40px;
					right: 9px;
					.quiz_slider_navigation, .three_slider_navigation {
						display: flex;
						align-items: center;
						position: relative;
						.left {
							position: absolute;
							top: 0;
							right: 60px;
							.fa-chevron-left {
								color: #F98C37;
								font-size: 15px;
								cursor: pointer;
								transition: all 200ms ease-in-out;
								&:hover {
									color: #202020;
									transition: all 200ms ease-in-out;
								}
							}
						}
						.right {
							position: absolute;
							top: 0;
							right: 0;
							&:before {
								content: '';
								position: absolute;
								display: inline-block;
								top: -10px;
								left: -26px;
								width: 2px;
								height: 34px;
								background: #202020;
								z-index: 10;
							}
							.fa-chevron-right {
								color: #F98C37;
								font-size: 15px;
								cursor: pointer;
								transition: all 200ms ease-in-out;
								&:hover {
									color: #202020;
									transition: all 200ms ease-in-out;
								}
							}
						}
					}
				}
				
				.slider_box_quiz, .box_quiz_three {
					background: #FFFFFF;
					max-width: 934px;
					width: 100%;
					margin: 0 auto;
					.slick-slide {
						text-align: center;
					}
					.slick-dots {
						left: 50%;
						bottom: -40px;
						transform: translateX(-50%) translateY(0px);
						display: flex;
						justify-content: center;
						align-items: center;
						li {
							display: flex;
							align-items: center;
							justify-content: center;
							button {
								&:before {
									content: '';
								}
								
								width: 9px;
								height: 9px;
								background: #F9BB88;
								transition: all 200ms ease-in-out;
							}
							&.slick-active {
								button {
									background: #202020;
									border: 4px solid #202020;
									transition: all 200ms ease-in-out;
								}
							}
						}
					}
				}
			}
			.btn_class {
				display: flex;
				justify-content: center;
				padding-bottom: 60px;
				width: 934px;
				margin: 0 auto;
				@media (max-width: 992px) {
					max-width: 768px;
				}
				@media (max-width: 768px) {
					max-width: 567px;
				}
				@media (max-width: 576px) {
					max-width: 386px;
				}
				@media (max-width: 400px) {
					max-width: 315px;
				}
				.btn_click {
					font-weight: 500;
					font-size: 14px;
					line-height: 140%;
					text-align: center;
					color: #F4F4F4;
					background: #FF9646;
					border-radius: 2px;
					display: inline-block;
					padding: 15px 52px;
				}
			}
		}	
	}
}

.popup_quiz2 {
	.popup-content_quiz {
		@media (max-width: 768px) {
			height: 644px;
			overflow-y: scroll;
		}
		.title_box {
			.line_background {
				.line {
					width: 66.66666% !important;
				}
			}
		}
		.center_box_quiz {
			display: flex;
			justify-content: center;
			padding-bottom: 60px;
			@media (max-width: 768px) {
				flex-wrap: wrap;
			}
			.left_block {
				padding-right: 90px;
				@media (max-width: 992px) {
					padding-right: 20px;
				}
				@media (max-width: 768px) {
					width: 100%;
					order: 1;
					padding-right: 0;
				}
				.sub_title_quiz {
					font-weight: normal;
					font-size: 29px;
					line-height: 140%;
					text-align: center;
					padding-bottom: 30px;
					display: block;
				}
				.box_quiz {
					display: flex;
					@media (max-width: 768px) {
						justify-content: center;
						padding-bottom: 30px;
					}
					.card_quiz {
						&:not(:last-child) {
						  margin-right: 10px;
						}
					}
				}
			}
			.right_block {
				@media (max-width: 768px) {
					width: 100%;
					order: 2;
				}
				.sub_title_quiz {
					font-weight: normal;
					font-size: 29px;
					line-height: 140%;
					text-align: center;
					padding-bottom: 30px;
					display: block;
				}
				.form_block_popup {
					.input_box {
						display: flex;
						flex-direction: column;
						padding-bottom: 40px;
						justify-content: center;
						align-items: center;
						.input_block {
							display: flex;
							flex-direction: column;
							justify-content: center;
							&:not(:last-child) {
							   padding-bottom: 25px;
							}
							label {
								font-weight: normal;
								font-size: 14px;
								line-height: 140%;
								cursor: pointer;
								padding-left: 10px;
							}
							input[type="text"], input[type="tel"], input[type="email"] {
								background: transparent;
								border: none;
								border-bottom: 2px solid rgba(32, 32, 32, 0.4);
								width: 366px;
								padding: 0 10px 2px 10px;
								box-sizing: border-box;
								outline: none;
								font-weight: normal;
								font-size: 14px;
								line-height: 140%;
								color: #202020;
								@media (max-width: 400px) {
									max-width: 300px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.popup_quiz3 {
	.popup-content_quiz {
		.title_box {
			.line_background {
				.line {
					width: 100% !important;
				}
			}
		}
		.slider_box_popup_quiz {
			.box_quiz_three {
			}
		}
	}
}

.popup_quiz4 {
	.popup-content_quiz {
		@media (max-width: 768px) {
			height: 644px;
			overflow-y: scroll;	
		}
		.title_box {
			.line_background {
				.line {
					width: 100% !important;
				}
			}
		}
		.center_box_quiz {
			display: flex;
			justify-content: center;
			@media (max-width: 768px) {
				flex-wrap: wrap;
			}

			.left_block {
				padding-right: 120px;
				@media (max-width: 992px) {
					padding-right: 30px;
				}
				@media (max-width: 768px) {
					order: 2;
					width: 100%;
					padding-right: 0;
				}
				.sub_title_quiz {
					font-weight: normal;
					font-size: 29px;
					line-height: 140%;
					text-align: center;
					display: block;
					padding-bottom: 30px;
					@media (max-width: 992px) {
						font-size: 25px;
					}
				}
				.form_block_popup {
					.input_box {
						display: flex;
						flex-direction: column;
						padding-bottom: 40px;
						justify-content: center;
						align-items: center;
						.input_block {
							display: flex;
							flex-direction: column;
							justify-content: center;
							&:not(:last-child) {
							   padding-bottom: 30px;
							}
							label {
								font-weight: normal;
								font-size: 14px;
								line-height: 140%;
								cursor: pointer;
								padding-left: 10px;
							}
							input[type="text"], input[type="tel"], input[type="email"] {
								background: transparent;
								border: none;
								border-bottom: 2px solid rgba(32, 32, 32, 0.4);
								width: 422px;
								padding: 0 10px 2px 10px;
								box-sizing: border-box;
								outline: none;
								font-weight: normal;
								font-size: 14px;
								line-height: 140%;
								color: #202020;
								@media (max-width: 992px) {
									width: 340px;
								}
								@media (max-width: 400px) {
									max-width: 300px;
								}
							}
						}
					}
				}
			}
			.right_block {
				@media (max-width: 768px) {
					order: 1;
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding-bottom: 30px;
				}
				@media (max-width: 400px) {
					overflow: scroll;
					align-items: flex-start;
					padding-left: 10px;
				}
				.sub_title_quiz {
					font-weight: normal;
					font-size: 29px;
					line-height: 140%;
					text-align: center;
					display: block;
					padding-bottom: 30px;
					@media (max-width: 992px) {
						font-size: 25px;
					}
					@media (max-width: 400px) {
						margin: 0 auto;
					}
				}
				.parameters {
					@media (max-width: 400px) {
						overflow: scroll;
						width: 400px;
					}
					.line_params {
						display: flex;
						padding-bottom: 15px;
						.left_param {
							width: 150px;
							display: block;
							font-weight: 500;
							font-size: 14px;
							line-height: 140%;
							color: rgba(0, 0, 0, 0.6);
						}
						.right_param_1, .right_param_2, .right_param_3, .right_param_4, .right_param_5, .right_param_6 {
							display: block;
							font-weight: 600;
							font-size: 14px;
							line-height: 140%;
							border: none;
							height: 20px;
							width: 220px;
							resize: none;
							outline: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.over_hidden {
		overflow: hidden;
	}
}

