<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<header class="header header_about">
		<div class="wrapper">
			<div class="header_mask about_mask"></div>
			<div class="top_header">
				<div class="logo">
					<a href="#"><img src="assets/images/logo_header.svg" alt="Logo"></a>
					<div class="right_logo">
						<span>Проектирование</span>
						<span>Изготовление</span>
						<span>Монтаж</span>
					</div>
				</div>
				<div class="nav nav_mobile">
					<div class="nav_btn">
						<span class="one"></span>
						<span class="two"></span>
						<span class="three"></span>
					</div>
					<ul>
						<li><a href="about-us.html">О компании</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="work-principles.html">Примеры работ</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="#">Позвоните мне!</a>
				</div>
			</div>
			<div class="center_box_header">
				<div class="breadcrumbs_box">
					<div class="kama_breadcrumbs">
						<span><a href="#"><span>Главная</span></a></span>
						<span class="kb_sep"><i class="fas fa-chevron-right"></i></span>
						<span class="kb_title">О компании</span>
					</div>
					<div class="back"><a href="#">Вернуться на главную</a></div>
				</div>
				<div class="title_box">
					<h2 class="title_section">Готовые проекты</h2>
				</div>
				<div class="center_block">
					<div class="left_container">
						<img src="assets/images/img_header.png" alt="">
					</div>
					<div class="center_container">
						<span class="title_center_container">Мы воплощаем ваши идеи в реальность</span>
						<p class="text_center_container">Популярность монолитных лестничных систем из железобетона в современном строительстве очень высока. Когда решите заказать эксклюзивную бетонную лестницу, главное — не ошибиться с выбором ее изготовителя. Отдав предпочтение компании «Лесенка 52», вы найдете в нашем лице надежного партнера, с отличной репутацией, предлагающего лучшие в регионе качество и расценки.
							<br> <br> Популярность монолитных лестничных систем из железобетона в современном строительстве очень высока.</p>
					</div>
					<div class="right_container">
						<span class="title_right_container">Наша деятельность в цифрах:</span>
						<div class="right_container_box">
							<div class="list">
								<div class="icon_box">
									<div class="icon">&lt;15 <span>лет</span></div>
								</div>
								<div class="right_advant">
									<span class="title_advant">Надежной работы</span>
								</div>
							</div>
							<div class="list">
								<div class="icon_box">
									<div class="icon"><span>более</span>358</div>
								</div>
								<div class="right_advant">
									<span class="title_advant">Довольных клиентов</span>
								</div>
							</div>
							<div class="list">
								<div class="icon_box">
									<div class="icon"><span>более</span>423</div>
								</div>
								<div class="right_advant">
									<span class="title_advant">Проектов выполнено</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="advantages">
		<div class="wrapper">
			<div class="advant_box about_box">
				<div class="list">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon7.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Надежность<br> и гарантия</span>
						<p class="text_advant">Срок службы конструкций изготовленных нашей компанией исчисляется десятками лет.</p>
					</div>
				</div>
				<div class="list">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon8.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Скорость<br> работы</span>
						<p class="text_advant">В кратчайшие сроки осуществляем проектирование, изготовление и монтаж монолитных лестниц.</p>
					</div>
				</div>
				<div class="list">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon9.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Бесплатный<br> замер</span>
						<p class="text_advant">Выезд специалиста компании на замер и расчет стоимости будущей конструкции — за наш счет.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="work_principles">
		<div class="wrapper">
			<div class="title_box">
				<h2 class="title_section">Основные принципы<br>в работе</h2>
			</div>
			<div class="work_princ_box">
				<div class="work_list_block">
					<span class="title_list">Комплексный подход на каждом этапе</span>
					<p class="text_list">Все работы по изготовлению монолитных железобетонных лестниц наша компания выполняет комплексно — начиная с проекта лестницы, подготовки всех нужных материалов, ее изготовления и заканчивая техническим надзором за этапами монтажа.</p>
				</div>
				<div class="work_list_block">
					<span class="title_list">Ориентированность на конечного пользователя</span>
					<p class="text_list">При составлении проекта будущей лестницы мы учитываем множество связанных между собой факторов, влияющих на удобство последующего использования лестницы. Конечно не забывая о пожеланиях заказчика и последних мировых тенденциях в области технологий строительства.</p>
				</div>
				<div class="work_list_block">
					<span class="title_list">Профессионализм и качество</span>
					<p class="text_list">За время работы мы сумели зарекомендовать себя исключительно с положительной стороны, а список довольных клиентов постоянно пополняется. О чем свидетельствуют многочисленные позитивные отзывы клиентов на сайте, форумах в интернете, обсуждениях в социальных сетях.</p>
				</div>				
			</div>
		</div>
	</section>
	<section class="form_section">
		<div class="wrapper">
			<h2 class="title_form">Получите 3d-визуализацию вашей будущей лестницы бесплатно!</h2>
			<span class="sub_title_form">Оставьте свои контактные данные и наш специалист свяжется свами в течении 15 минут!</span>
			<div class="form_block">
				<form action="#">
					<div class="input_box">
						<div class="input_block">
							<label for="your_name">Ваше имя...</label>
							<input type="text" id="your_name" class="input_name" name="name" required>
						</div>
						<div class="input_block">
							<label for="your_phone">Ваш телефон...</label>
							<input type="tel" id="your_phone" class="input_phone" name="tel" required>
						</div>
						<div class="input_block">
							<label for="your_email">Ваш e-mail...</label>
							<input type="email" id="your_email" class="input_email" name="email" required>
						</div>
					</div>
					<div class="submit_box">
						<input type="submit" class="submit" value="Отправить заявку">
						<span class="ok_clik">Нажимая на кнопку<br> вы соглашаетесь с <a href="#">политикой <br>конфиденциальности</a>.</span>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="types_stairs">
		<div class="wrapper slider_wrapper">
			<div class="title_box title_work">
				<h2 class="title_section">Готовые проекты</h2>
				<div class="works_slider_navigation"></div>
			</div>
			<div class="slider_works">
				<div class="card">
					<div class="img_card"><img src="assets/images/work1.jpg" alt="Картинка" /></div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/work2.jpg" alt="Картинка" /></div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/work3.jpg" alt="Картинка" /></div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/work1.jpg" alt="Картинка" /></div>
				</div>
			</div>
			<div class="btn_class"><a class="btn_black" href="#">Посмотреть все работы</a></div>
		</div>
	</section>
	<section class="rew">
		<h1>Блок с отзывами</h1>
	</section>
	<section class="form_footer">
		<div class="wrapper">
			<div class="form_footer_box">
				<div class="left_box">
					<img src="assets/images/left_img_form.jpg" alt="Карта">
				</div>
				<div class="right_box">
					<div class="title_box">
						<h2 class="title_section">У вас остались <br> вопросы?</h2>
					</div>
					<span class="sub_title">Не нашли нужной информации? Интересует что-то конкретное? Напишите нам и наши специалисты ответят вам в течении 30 минут!</span>
					<div class="form_block">
						<form action="#">
							<div class="input_box">
								<div class="input_block">
									<label for="your_name_footer">Ваше имя...</label>
									<input type="text" id="your_name_footer" class="input_name" name="name" required>
								</div>
								<div class="input_block">
									<label for="your_phone_footer">Ваш телефон...</label>
									<input type="tel" id="your_phone_footer" class="input_phone" name="tel" required>
								</div>
								<div class="input_block">
									<label for="your_email_footer">Ваш e-mail...</label>
									<input type="email" id="your_email_footer" class="input_email" name="email" required>
								</div>
							</div>
							<div class="submit_box">
								<input type="submit" class="submit" value="Отправить заявку">
								<span class="ok_clik">Нажимая на кнопку вы соглашаетесь <br>с <a href="#">политикой конфиденциальности</a>.</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<footer class="footer">
		<div class="wrapper">
			<div class="top_footer">
				<div class="logo">
					<div class="top_logo">
						<a href="#"><img src="assets/images/logo_svg.svg" alt="Logo_footer"></a>
						<div class="right_logo">
							<span>Проектирование</span>
							<span>Изготовление</span>
							<span>Монтаж</span>
						</div>
					</div>
					<span class="sub_title_logo">Монолитные лестницы</span>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
					<ul>
						<li><a href="#">Примеры работ</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="tel:+7(930)283-50-65">Позвоните мне!</a>
				</div>
			</div>
			<div class="bottom_footer">
				<span class="copyright">2020 Все права защищены.</span>
				<a class="confid" href="#">Политика конфиденциальности</a>
				<div class="soc_seti">
					<a href="#" class="vk"><img src="assets/images/vk.svg" alt="vk"></a>
					<a href="#" class="inst"><img src="assets/images/instagramm.svg" alt="instagramm"></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>