<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_mask"></div>
			<div class="top_header">
				<div class="logo">
					<a href="#"><img src="assets/images/logo_header.svg" alt="Logo"></a>
					<div class="right_logo">
						<span>Проектирование</span>
						<span>Изготовление</span>
						<span>Монтаж</span>
					</div>
				</div>
				<nav class="nav nav_mobile">
					<div class="nav_btn">
						<span class="one"></span>
						<span class="two"></span>
						<span class="three"></span>
					</div>
					<ul>
						<li><a href="about-us.html">О компании</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="work-principles.html">Примеры работ</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="#">Позвоните мне!</a>
				</div>
			</div>
			<div class="center_box_header">
				<div class="breadcrumbs_box">
					<div class="kama_breadcrumbs">
						<span><a href="#"><span>Главная</span></a></span>
						<span class="kb_sep"><i class="fas fa-chevron-right"></i></span>
						<span class="kb_title">Контакты</span>
					</div>
					<div class="back"><a href="#">Вернуться на главную</a></div>
				</div>
				<div class="title_box">
					<h2 class="title_section">Контакты</h2>
				</div>
			</div>
		</div>
	</header>
	<div class="map_container">
		<div class="wrapper">
			<div class="map_contact">
				<img src="assets/images/map_contact.png" alt="#" />
			</div>
		</div>
	</div>
	<div class="advantages">
		<div class="wrapper">
			<div class="advant_box contact_box">
				<div class="list_contact">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon10.png" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Телефон:</span>
						<p class="text_advant" style="font-size: 18px;">+7 (930) 283-50-65</p>
					</div>
				</div>
				<div class="list_contact">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon11.png" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Адрес:</span>
						<p class="text_advant">г. Нижний Новгород <br>ул. Интернациональная, 100</p>
					</div>
				</div>
				<div class="list_contact">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon12.png" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">E-mail:</span>
						<p class="text_advant">lest52monolit@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="form_footer">
		<div class="wrapper">
			<div class="form_footer_box">
				<div class="left_box">
					<img src="assets/images/left_img_form.jpg" alt="Карта">
				</div>
				<div class="right_box">
					<div class="title_box">
						<h2 class="title_section">У вас остались <br> вопросы?</h2>
					</div>
					<span class="sub_title">Не нашли нужной информации? Интересует что-то конкретное? Напишите нам и наши специалисты ответят вам в течении 30 минут!</span>
					<div class="form_block">
						<form action="#">
							<div class="input_box">
								<div class="input_block">
									<label for="your_name_footer">Ваше имя...</label>
									<input type="text" id="your_name_footer" class="input_name" name="name" required>
								</div>
								<div class="input_block">
									<label for="your_phone_footer">Ваш телефон...</label>
									<input type="tel" id="your_phone_footer" class="input_phone" name="tel" required>
								</div>
								<div class="input_block">
									<label for="your_email_footer">Ваш e-mail...</label>
									<input type="email" id="your_email_footer" class="input_email" name="email" required>
								</div>
							</div>
							<div class="submit_box">
								<input type="submit" class="submit" value="Отправить заявку">
								<span class="ok_clik">Нажимая на кнопку вы соглашаетесь <br>с <a href="#">политикой конфиденциальности</a>.</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<footer class="footer">
		<div class="wrapper">
			<div class="top_footer">
				<div class="logo">
					<div class="top_logo">
						<a href="#"><img src="assets/images/logo_svg.svg" alt="Logo_footer"></a>
						<div class="right_logo">
							<span>Проектирование</span>
							<span>Изготовление</span>
							<span>Монтаж</span>
						</div>
					</div>
					<span class="sub_title_logo">Монолитные лестницы</span>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
					<ul>
						<li><a href="#">Примеры работ</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="tel:+7(930)283-50-65">Позвоните мне!</a>
				</div>
			</div>
			<div class="bottom_footer">
				<span class="copyright">2020 Все права защищены.</span>
				<a class="confid" href="#">Политика конфиденциальности</a>
				<div class="soc_seti">
					<a href="#" class="vk"><img src="assets/images/vk.svg" alt="vk"></a>
					<a href="#" class="inst"><img src="assets/images/instagramm.svg" alt="instagramm"></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>