<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<header class="header">
		<div class="header_mask"></div>
		<div class="wrapper">
			<div class="top_header">
				<div class="logo">
					<a href="#"><img src="assets/images/logo_header.svg" alt="Logo"></a>
					<div class="right_logo">
						<span>Проектирование</span>
						<span>Изготовление</span>
						<span>Монтаж</span>
					</div>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Примеры работ</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="#">Позвони мне</a>
				</div>
			</div>
		</div>
		<div class="center_header">
			<div class="left_box">
				<img src="assets/images/header_mask.jpg" alt="Картинка" />
				<div class="cost">
					<div class="cost_title">Рассчитайте стоимость<br> вашей лестницы <span>в три шага</span></div>
					<div class="btn_class"><a class="btn_white" href="#">Подробнее</a></div>
				</div>
			</div>
			<div class="right_box">
				<div class="top_title">Всего <span>за 10 дней</span>  с гарантией <span>30 лет</span></div>
				<h1 class="title">Монолитные лестницы "под ключ"</h1>
				<p class="sub_title">Исполним все ваши мечты о современной и красивой лестнице по минимальной цене, но с максимальным качеством!</p>
				<div class="btn_class"><a class="btn_click" href="#">Консультация</a></div>
			</div>
		</div>
	</header>


	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>