<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>

	

	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>