<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_mask"></div>
			<div class="top_header">
				<div class="logo">
					<a href="#"><img src="assets/images/logo_header.svg" alt="Logo"></a>
					<div class="right_logo">
						<span>Проектирование</span>
						<span>Изготовление</span>
						<span>Монтаж</span>
					</div>
				</div>
				<div class="nav nav_mobile">
					<div class="nav_btn">
						<span class="one"></span>
						<span class="two"></span>
						<span class="three"></span>
					</div>
					<ul>
						<li><a href="about-us.html">О компании</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="work-principles.html">Примеры работ</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="#">Позвоните мне!</a>
				</div>
			</div>
			<div class="center_box_header">
				<div class="breadcrumbs_box">
					<div class="kama_breadcrumbs">
						<span><a href="#"><span>Главная</span></a></span>
						<span class="kb_sep"><i class="fas fa-chevron-right"></i></span>
						<span><a href="#"><span>Каталог</span></a></span>
						<span class="kb_sep"><i class="fas fa-chevron-right"></i></span>
						<span class="kb_title">Забежная лестница</span>
					</div>
					<div class="back"><a href="#">Вернуться на главную</a></div>
				</div>
				<div class="title_box">
					<h2 class="title_section">Забежная лестница</h2>
				</div>
			</div>
		</div>
	</header>
	<div class="single_card_container">
		<div class="wrapper">
			<div class="single_card_box">
				<div class="left_box">
					<div class="single_img"><img src="assets/images/single_img.jpg" alt="Картинка"></div>
					<div class="cost">
						<div class="cost_title">Рассчитайте стоимость<br> вашей лестницы <span>в 3 шага</span></div>
						<div class="btn_class"><a class="btn_white" href="#">Подробнее</a></div>
					</div>
				</div>
				<div class="right_box">
					<span class="title_single">Забежная лестница</span>
					<div class="price">от <span>27 000</span> р за м.п.</div>
					<p class="sub_title_single">Cтоимость указана за метр подъема, исходя из средней статистической цены наших клиентов и может меняться в зависимости от ваших размеров! Для уточнения цены лестницы — сделайте заказ или оставьте заявку на рассчет стоимости.</p>
					<div class="time_work">Срок изготовления: <span>от 5 ти дней</span></div>
					<div class="btn_class"><a class="btn_click" href="#">Оставить заявку</a></div>
					<p class="text_single">Основных причин, почему забежная лестница с поворотом пользуется популярностью, несколько:
					<br><br>
					• повышенная прочность, особенно если изготавливать по проверенной технологии из качественных материалов;<br>
					• практичность — служит долго, не нуждается в дополнительных вложениях денег;<br>
					• изящность, несмотря на монолитность;<br>
					• эффективность в условиях ограниченности пространства.
					<br><br>
					Компания «Лесенка-52» выполняет проектирование конструкций при помощи специального програмного обеспечения, позволяющего продумать все нюансы.
					<br><br>
					В подарок еще до начала работ вы получаете визуализацию будущей конструкции (чтобы после была возможность сравнить).</p>
				</div>
			</div>
		</div>
	</div>
	<div class="advantages">
		<div class="wrapper">
			<div class="advant_box">
				<div class="list list_single">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon1.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Работаем <br> без посредников</span>
						<p class="text_advant">Изготовление и монтаж осуществляют только наши мастера с опытом работы более Х-ти лет.</p>
					</div>
				</div>
				<div class="list list_single">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon2.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Фиксированные цены</span>
						<p class="text_advant">После согласования сметы все цены фиксируются в договоре и не изменяются в процессе.</p>
					</div>
				</div>
				<div class="list list_single">
					<div class="icon_box"><span class="icon"><img src="assets/images/icon3.svg" alt="icon"></span></div>
					<div class="right_advant">
						<span class="title_advant">Любые варианты отделки</span>
						<p class="text_advant">Любые материалы отделки готовых лестниц — от дерева и камня до кованых элементов и стекла.</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<section class="form_section">
		<div class="wrapper">
			<h2 class="title_form">Получите 3d-визуализацию вашей<br> будущей лестницы бесплатно!</h2>
			<span class="sub_title_form">Оставьте свои контактные данные и наш специалист<br> свяжется свами в течении 15 минут!</span>
			<div class="form_block">
				<form action="#">
					<div class="input_box">
						<div class="input_block">
							<label for="your_name">Ваше имя...</label>
							<input type="text" id="your_name" class="input_name" name="name" required>
						</div>
						<div class="input_block">
							<label for="your_phone">Ваш телефон...</label>
							<input type="tel" id="your_phone" class="input_phone" name="tel" required>
						</div>
						<div class="input_block">
							<label for="your_email">Ваш e-mail...</label>
							<input type="email" id="your_email" class="input_email" name="email" required>
						</div>
					</div>
					<div class="submit_box">
						<input type="submit" class="submit" value="Отправить заявку">
						<span class="ok_clik">Нажимая на кнопку<br> вы соглашаетесь с <a href="#">политикой <br>конфиденциальности</a>.</span>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section class="types_stairs">
		<div class="wrapper">
			<div class="title_box single_title">
				<h2 class="title_section">Типы лестниц</h2>
				<div class="stairs_slider_navigation"></div>
			</div>
			<div class="slider_stairs">
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img1.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Прямая лестница</div>
						<div class="price">от <span>18 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img2.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Забежная лестница</div>
						<div class="price">от <span>27 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img3.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Винтовая лестница</div>
						<div class="price">от <span>30 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
					
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img1.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Винтовая лестница</div>
						<div class="price">от <span>30 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="working">
		<div class="wrapper">
			<div class="working_mask"></div>
			<div class="title_box">
				<h2 class="title_section">Как мы<br> работаем?</h2>
			</div>
			<div class="working_box">
				<div class="list">
					<div class="icon_box"><span class="icon">01</span></div>
					<div class="right_advant">
						<span class="title_advant">Ваша заявка <br> на замер</span>
						<p class="text_advant">Позвоните нам или заполните форму обратной связи заказа на сайте.</p>
					</div>
				</div>
				<div class="list">
					<div class="icon_box"><span class="icon">02</span></div>
					<div class="right_advant">
						<span class="title_advant">Замер и проектирование</span>
						<p class="text_advant">В удобное вам время проводим замеры. Проектируем удобную конструкцию.</p>
					</div>
				</div>
				<div class="list">
					<div class="icon_box"><span class="icon">03</span></div>
					<div class="right_advant">
						<span class="title_advant">Оформление договора</span>
						<p class="text_advant">Просчитываем смету, готовим договор. После согласования подписываем договор.</p>
					</div>
				</div>
				<div class="list">
					<div class="icon_box"><span class="icon">04</span></div>
					<div class="right_advant">
						<span class="title_advant">Выполнение работ</span>
						<p class="text_advant">Выполняем комплекс работ, качественно и в установленные договором сроки.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="form_footer">
		<div class="wrapper">
			<div class="form_footer_box">
				<div class="left_box">
					<img src="assets/images/left_img_form.jpg" alt="Карта">
				</div>
				<div class="right_box">
					<div class="title_box">
						<h2 class="title_section">У вас остались <br> вопросы?</h2>
					</div>
					<span class="sub_title">Не нашли нужной информации? Интересует что-то конкретное? Напишите нам и наши специалисты ответят вам в течении 30 минут!</span>
					<div class="form_block">
						<form action="#">
							<div class="input_box">
								<div class="input_block">
									<label for="your_name_footer">Ваше имя...</label>
									<input type="text" id="your_name_footer" class="input_name" name="name" required>
								</div>
								<div class="input_block">
									<label for="your_phone_footer">Ваш телефон...</label>
									<input type="tel" id="your_phone_footer" class="input_phone" name="tel" required>
								</div>
								<div class="input_block">
									<label for="your_email_footer">Ваш e-mail...</label>
									<input type="email" id="your_email_footer" class="input_email" name="email" required>
								</div>
							</div>
							<div class="submit_box">
								<input type="submit" class="submit" value="Отправить заявку">
								<span class="ok_clik">Нажимая на кнопку вы соглашаетесь <br>с <a href="#">политикой конфиденциальности</a>.</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<footer class="footer">
		<div class="wrapper">
			<div class="top_footer">
				<div class="logo">
					<div class="top_logo">
						<a href="#"><img src="assets/images/logo_svg.svg" alt="Logo_footer"></a>
						<div class="right_logo">
							<span>Проектирование</span>
							<span>Изготовление</span>
							<span>Монтаж</span>
						</div>
					</div>
					<span class="sub_title_logo">Монолитные лестницы</span>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
					<ul>
						<li><a href="#">Примеры работ</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="tel:+7(930)283-50-65">Позвоните мне!</a>
				</div>
			</div>
			<div class="bottom_footer">
				<span class="copyright">2020 Все права защищены.</span>
				<a class="confid" href="#">Политика конфиденциальности</a>
				<div class="soc_seti">
					<a href="#" class="vk"><img src="assets/images/vk.svg" alt="vk"></a>
					<a href="#" class="inst"><img src="assets/images/instagramm.svg" alt="instagramm"></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>