<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Лесенка</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/styles/main.min.css">

</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_mask"></div>
			<div class="top_header">
				<div class="logo">
					<a href="#"><img src="assets/images/logo_header.svg" alt="Logo"></a>
					<div class="right_logo">
						<span>Проектирование</span>
						<span>Изготовление</span>
						<span>Монтаж</span>
					</div>
				</div>
				<div class="nav nav_mobile">
					<div class="nav_btn">
						<span class="one"></span>
						<span class="two"></span>
						<span class="three"></span>
					</div>
					<ul>
						<li><a href="about-us.html">О компании</a></li>
						<li><a href="catalog.html">Каталог</a></li>
						<li><a href="work-principles.html">Примеры работ</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="contact.html">Контакты</a></li>
					</ul>
				</div>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="#">Позвоните мне!</a>
				</div>
			</div>
			<div class="center_box_header">
				<div class="breadcrumbs_box">
					<div class="kama_breadcrumbs">
						<span><a href="#"><span>Главная</span></a></span>
						<span class="kb_sep"><i class="fas fa-chevron-right"></i></span>
						<span class="kb_title">Примеры работ</span>
					</div>
					<div class="back"><a href="#">Вернуться на главную</a></div>
				</div>
				<div class="title_box">
					<h2 class="title_section">Примеры работ</h2>
				</div>
				
			</div>
		</div>
	</header>
	<div class="work_principles_container">
		<div class="wrapper">
			<div class="header_mask"></div>
			<div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item", "gutter": 30 }'>
				<div class="item"><img src="assets/images/work/img_work1.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work2.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work3.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work4.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work5.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work6.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work7.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work8.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work9.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work10.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work11.jpg" alt="Картинка"></div>
				<div class="item"><img src="assets/images/work/img_work12.jpg" alt="Картинка"></div>
			</div>
		</div>
	</div>
	<section class="types_stairs">
		<div class="wrapper">
			<div class="title_box">
				<h2 class="title_section">Типы лестниц</h2>
				<div class="stairs_slider_navigation"></div>
			</div>
			<div class="slider_stairs">
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img1.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Прямая лестница</div>
						<div class="price">от <span>18 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img2.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Забежная лестница</div>
						<div class="price">от <span>27 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img3.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Винтовая лестница</div>
						<div class="price">от <span>30 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
					
				</div>
				<div class="card">
					<div class="img_card"><img src="assets/images/type_img1.png" alt="Картинка" /></div>
					<div class="info_box">
						<div class="title_card">Винтовая лестница</div>
						<div class="price">от <span>30 000</span> Р за м.п.</div>
						<div class="btn_class"><a class="btn_click" href="#">Подробнее</a></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="form_footer">
		<div class="wrapper">
			<div class="form_footer_box footer_padding">
				<div class="left_box">
					<img src="assets/images/left_img_form.jpg" alt="Карта">
				</div>
				<div class="right_box">
					<div class="title_box">
						<h2 class="title_section">У вас остались <br> вопросы?</h2>
					</div>
					<span class="sub_title">Не нашли нужной информации? Интересует что-то конкретное? Напишите нам и наши специалисты ответят вам в течении 30 минут!</span>
					<div class="form_block">
						<form action="#">
							<div class="input_box">
								<div class="input_block">
									<label for="your_name_footer">Ваше имя...</label>
									<input type="text" id="your_name_footer" class="input_name" name="name" required>
								</div>
								<div class="input_block">
									<label for="your_phone_footer">Ваш телефон...</label>
									<input type="tel" id="your_phone_footer" class="input_phone" name="tel" required>
								</div>
								<div class="input_block">
									<label for="your_email_footer">Ваш e-mail...</label>
									<input type="email" id="your_email_footer" class="input_email" name="email" required>
								</div>
							</div>
							<div class="submit_box">
								<input type="submit" class="submit" value="Отправить заявку">
								<span class="ok_clik">Нажимая на кнопку вы соглашаетесь <br>с <a href="#">политикой конфиденциальности</a>.</span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<footer class="footer">
		<div class="wrapper">
			<div class="top_footer">
				<div class="logo">
					<div class="top_logo">
						<a href="#"><img src="assets/images/logo_svg.svg" alt="Logo_footer"></a>
						<div class="right_logo">
							<span>Проектирование</span>
							<span>Изготовление</span>
							<span>Монтаж</span>
						</div>
					</div>
					<span class="sub_title_logo">Монолитные лестницы</span>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Каталог</a></li>
						<li><a href="#">Блог</a></li>
					</ul>
					<ul>
						<li><a href="#">Примеры работ</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="info_phone">
					<a class="phone" href="tel:+7(930)283-50-65">+7(930)283-50-65</a>
					<a class="btn_click" href="tel:+7(930)283-50-65">Позвоните мне!</a>
				</div>
			</div>
			<div class="bottom_footer">
				<span class="copyright">2020 Все права защищены.</span>
				<a class="confid" href="#">Политика конфиденциальности</a>
				<div class="soc_seti">
					<a href="#" class="vk"><img src="assets/images/vk.svg" alt="vk"></a>
					<a href="#" class="inst"><img src="assets/images/instagramm.svg" alt="instagramm"></a>
				</div>
			</div>
		</div>
	</footer>

	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>